body,textarea, button {
	font:11px/1.3 Arial, Verdana, Helvetica, sans-serif;
	color:#000;
	background-color:#ddd;
	margin:10px; 
	}
input {font-size:10px}
input[type="button"]:hover  {cursor:pointer}
.panel {
	width: 540px;
	margin-bottom: 20px;
	background:#b4b4b4;
	}
.panelContent {
	width:440px;
	margin:20px 50px 80px 50px; /* margin values: think of a clock: top right bottom left */
	}
.outset {border: solid 1px #fff; border-right: solid 2px #333; border-bottom: solid 2px #333; cursor:pointer}
.outset:active {border: solid 1px #eee; border-top: solid 2px #333; border-left: solid 2px #333;}
.outsetWide {border: solid 2px #fff; border-right: solid 3px #333; border-bottom: solid 3px #333; cursor:pointer; font-weight:bold}
.outsetWide:active {border: solid 2px #eee; border-top: solid 3px #333; border-left: solid 3px #333; font-weight:bold}
.inset {border: solid 1px #eee; border-top: solid 2px #333; border-left: solid 2px #333; background-color:#b4b4b4; font-size:10px; text-align:left;}
.but1 {width:112px; height:28px;}
.hiLight {font:18px/1.3 Arial, Verdana, Helvetica, sans-serif; font-style:italic; color:#00f}
.left {text-align:left}
.blackBorder {width:100%; margin-top:20px; border: solid 1px #000}
.lgBold {font-size:13px; font-weight:bold}
.bold {font-weight:bold}
.heading {font-size:16px;}
.errorHeading {font-size:16px; color:#900}
.errorText {margin:10px 0 0 5px; font-size:12px; color:#900}
.errorText14 {margin:10px 0 0 5px; font-size:14px; color:#900}
.disabled  {border: solid 1px #bbb; border-right: solid 2px #999; border-bottom: solid 2px #999;  background:#ccc; color:#888;}


