<style type="text/css">

.panel { min-width: 320px; max-width: 320px; }

.panelContent {
  float: left;
  padding: 50px 30px 30px 30px;
  background: url(/html/background.gif) no-repeat #4aa6fa;
}

.header {
  color: #00c;
  font-size: 160%;
  font-weight: bold;
  border-bottom: 1px solid #00f;
}

.subheader { margin-top: 0; font-size: 110% }
.label { font-weight: bold }

body, textarea, button, select, option {
  font-size: small;
  line-height: 1.3;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  color: #000;
  background-color: #d2f2fe;
}

body, textarea { margin: 10px }

dt { font-weight: bold }
dd { margin-top: 10px }

div.checkboxes { margin-top: 4px }
div.checkboxes label { margin-top: 6px; margin-right: 10px; margin-left: 0; font-weight: bold }

input { font-size: 80% }
input[type="button"]:hover { cursor: pointer }

button {
  margin: 10px 15px 10px 0;
  min-width: 60px;
  text-align: center
}

.outset { border: solid 1px #fff; border-right: solid 2px #333; border-bottom: solid 2px #333; margin-top: 11px; margin-bottom: 11px; cursor: pointer }

.outset:active { border: solid 1px #eee; border-top: solid 2px #333; border-left: solid 2px #333; margin-top: 11px; margin-bottom: 11px; }

.outsetWide { border: solid 2px #fff; border-right: solid 3px #333; border-bottom: solid 3px #333; cursor: pointer; font-weight: bold }

.outsetWide:active { border: solid 2px #eee; border-top: solid 3px #333; border-left: solid 3px #333; font-weight: bold }

.disabled  { border: solid 1px #bbb; border-right: solid 2px #999; border-bottom: solid 2px #999; background: #b6eafd; color: #888;}

.inset {
  border-top: solid 2px #333;
  border-left: solid 2px #333;
  border-bottom: solid 2px #fff;
  border-right: solid 2px #fff;
  background-color: #d2f2fe;
  font-size: 80%;
  text-align: left
}

.promptText { font: 130%/1.3 Arial, Verdana, Helvetica, sans-serif; font-style: italic; font-weight: bold; color: #00f }

.misrecText { font-size: 110%; color: #900; margin: 10px 0 0 5px }

.errorText { font-size: 100%; color: #900; margin: 10px 0 0 5px }

</style>

<script language="JavaScript" type="text/javascript">

  var minWidth = "500px";
  var maxWidth = "700px";
  var fontSize = "large";
  var insetFontSize = "80%";
  var userAgent = navigator.userAgent.toLowerCase();
  if (userAgent.indexOf("windows ce") >= 0) {
    minWidth = "320px";
    maxWidth = "320px";
    fontSize = "x-small";
    insetFontSize = "x-small";
  }
  document.write("<style type='text/css'>");
  document.write(".panel { min-width: " + minWidth + "; max-width: " + maxWidth + "; }");
  document.write("body, textarea, button, select, option { font-size: " + fontSize + "; }");
  document.write(".inset { font-size: " + insetFontSize + "; }");
  document.write("</style>");

</script>

<script language="JavaScript">

function submitform(id, method) {
  var form = document.forms[id];
  var element = document.createElement("input");
  element.setAttribute("type", "hidden");
  element.setAttribute("name", "method");
  element.setAttribute("value", method);
  form.appendChild(element);
  form.submit();
}

function centerInContainer(containerId, elementId) {

  var container = document.getElementById(containerId);
  var element = document.getElementById(elementId);

  var offsetLeft = 0;
  var offsetTop = 0;

   // IE 6 CSS compatibility
  var offsetTrail = container;
  while (offsetTrail) {
    offsetLeft += offsetTrail.offsetLeft;
    offsetTop += offsetTrail.offsetTop;
    offsetTrail = offsetTrail.offsetParent;
  }

  if (navigator.userAgent.indexOf("Mac") != -1 && typeof document.body.leftMargin != "undefined") {
    offsetLeft += document.body.leftMargin;
    offsetTop +=  document.body.topMargin;
  }

  element.style.left = offsetLeft + parseInt(container.offsetWidth / 2) - parseInt(element.offsetWidth / 2) + "px";
  element.style.top = offsetTop + parseInt(container.offsetHeight / 2) - parseInt(element.offsetHeight / 2) + "px";
}

</script>
