<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <title>${rb.msg("personalizeoptions.title")}</title>

    #include("velocity/panels.html")
    <meta http-equiv="Content-type" content="text/html; charset=utf8" />

    <style type="text/css">
      #options { margin-top: 10px }
      #options-button, #test-button { margin-right: 0 }
    </style>

  </head>

  <body>

    <div id="options" class="panel">

      <div class="panelContent">

        <div class="header">
          <span>${rb.msg("personalizeoptions.title")}</span>
        </div>

        <form id="options" name="options" method="post" action="personalizeoptions">

          <div id="checkboxes" class="checkboxes">
            <div><label><input type="checkbox" id="voicePrompted" name="voicePrompted" value="true" />${rb.msg("personalizeoptions.label.voiceprompting")}</label></div>
            <div><label><input type="checkbox" id="voiceControlled" name="voiceControlled" value="true" checked />${rb.msg("personalizeoptions.label.voicecontrol")}</label></div>
            <div><label><input type="checkbox" id="voiceAnnotated" name="voiceAnnotated" value="true" checked />${rb.msg("personalizeoptions.label.voiceannotation")}</label></div>
            <div><label><input type="checkbox" id="collectingAudio" name="collectingAudio" value="true" />${rb.msg("personalizeoptions.label.audiocollection")}</label></div>
          </div>

          <dl>
            <dt>${rb.msg("personalizeoptions.label.scriptmenu")}</dt>
            <dd>
              <select name="scriptId">
                #foreach ($script in $scripts)
                  <option label="${script}" value="${script}">${script}</option>
                #end
              </select>
            </dd>
          </dl>

          <div><button id="options-button" type="button" class="outsetWide" onClick="submitform('options','advanced');">${rb.msg("personalizeoptions.button.advanced")}</button></div>

          <button id="personalize-button" type="button" class="outsetWide" onClick="submitform('options','personalize');">${rb.msg("personalizeoptions.button.train")}</button>

          <button id="test-button" type="button" class="outset" onClick="submitform('options','test');">${rb.msg("personalizeoptions.button.test")}</button>

        </form>

      </div>

    </div>

  </body>

</html>
